<ion-app>
  <ion-nav>
    <ion-content fullscreen>
      <ion-searchbar placeholder="Hitady" color="success" showCancelButton="never"></ion-searchbar>
      <ion-list>
        <ion-list-header>
          Hira gala
        </ion-list-header>
        <ion-item button [routerLink]="['/lYrA/lyric',gala.id]" *ngFor="let gala of lyricsGala">
          <ion-label>
            <h2>{{gala.title}}</h2>
            <h3>Namorona: {{gala.author}} clé: {{gala.keySong}}</h3>
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-nav>
</ion-app>