<ion-tabs>
  <ion-header>
      <ion-toolbar color="tertiary">
        <ion-title class="ion-text-center">
          LYrA
        </ion-title>
      </ion-toolbar>
    </ion-header>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" selected>
      <ion-icon name="home"></ion-icon>
      <ion-label>lYrA</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="gala">
      <ion-icon name="book"></ion-icon>
      <ion-label>Gala</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="rodobe">
      <ion-icon name="list"></ion-icon>
      <ion-label>Rodobe</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>