

<ion-content>
    <ion-card class="welcome-card">
      <img src="/assets/shapes.svg" alt="" />
      <ion-card-header>
        <ion-card-subtitle>Tongasoa</ion-card-subtitle>
        <ion-card-title>Tononkira Afafi</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>lYrA made by ozirehCode, GVA Team.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>texte be</ion-label>
      </ion-list-header>
      
    </ion-list>
</ion-content>
