<ion-content>
    <ion-card class="welcome-card" style="margin-top:10px;">
      <img src="/assets/afafi.jpg" alt="" />
      <ion-card-header>
        <ion-card-title>Tononkira Afafi</ion-card-title>
        <p>Antoko mpihira FAnasin'ny FIfohazana</p>
      </ion-card-header>
      <ion-card-content>
        <p class="text-italic">
            "Koa raha misy olona manadio ny tenany ho afaka amin'ireny,
                dia ho fanaka homem-boninahitra izy,
                efa nohamasinina ka mahasoa ho an'ny Tompo."
        </p>
        <p class="text-bold">II Timoty 2: 21</p>
      </ion-card-content>
      <p style="margin-left:10px;font-size:11px;">LYrA made by ozirehCode, GVA Team.</p>
    </ion-card>
</ion-content>
